<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>Msj</servlet-name>
        <servlet-class>com.res.Msj</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InicioSesion</servlet-name>
        <servlet-class>com.res.InicioSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarEstudiante</servlet-name>
        <servlet-class>com.res.RegistrarEstudiante</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarUsuario</servlet-name>
        <servlet-class>com.res.RegistrarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InscribirEstudiante</servlet-name>
        <servlet-class>com.res.InscribirEstudiante</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MatricularEstudiante</servlet-name>
        <servlet-class>com.res.MatricularEstudiante</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarActividad</servlet-name>
        <servlet-class>com.res.RegistrarActividad</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarEstudianteLogroActividad</servlet-name>
        <servlet-class>com.res.RegistrarEstudianteLogroActividad</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Msj</servlet-name>
        <url-pattern>/Msj</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InicioSesion</servlet-name>
        <url-pattern>/InicioSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarEstudiante</servlet-name>
        <url-pattern>/RegistrarEstudiante</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarUsuario</servlet-name>
        <url-pattern>/RegistrarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InscribirEstudiante</servlet-name>
        <url-pattern>/InscribirEstudiante</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MatricularEstudiante</servlet-name>
        <url-pattern>/MatricularEstudiante</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarActividad</servlet-name>
        <url-pattern>/RegistrarActividad</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarEstudianteLogroActividad</servlet-name>
        <url-pattern>/RegistrarEstudianteLogroActividad</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
